.emptyButton {
    box-sizing:inherit;
    visibility: hidden;
    text-align: center;
    line-height: 50px;
}

.defaultButton {
    box-sizing:inherit;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px grey;
}

.defaultButton:hover {
    opacity: 0.70;
}
.defaultButton:active {
    box-shadow: inset 0px 0px 3px grey;
}

.wideButton {
    box-sizing:inherit;
    text-align: center;
    line-height: 50px;
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px grey;
}

.wideButton:hover {
    opacity: 0.70;
}

.wideButton:active {
    box-shadow: inset 0px 0px 3px grey;
}

.tallButton {
    box-sizing:inherit;
    text-align: center;
    line-height: 100px;
    grid-column: 4 / span 1;
    grid-row: 5 / -1;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px grey;
}

.tallButton:hover {
    opacity: 0.70;
}

.tallButton:active {
    box-shadow: inset 0px 0px 3px grey;
}