.emptyButton {
    box-sizing:inherit;
    visibility: hidden;
    text-align: center;
    line-height: 50px;
}

.defaultButton {
    box-sizing:inherit;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 6px grey;
}

.defaultButton:hover {
    opacity: 0.70;
}
.defaultButton:active {
    box-shadow: inset 0px 0px 6px grey;
}

.wideButton {
    box-sizing:inherit;
    text-align: center;
    line-height: 50px;
    grid-column-end: span 2;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 6px grey;
}

.wideButton:hover {
    opacity: 0.70;
}

.wideButton:active {
    box-shadow: inset 0px 0px 6px grey;
}

.tallButton {
    box-sizing:inherit;
    text-align: center;
    line-height: 100px;
    grid-row: span 2;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 6px grey;
}

.tallButton:hover {
    opacity: 0.70;
}

.tallButton:active {
    box-shadow: inset 0px 0px 6px grey;
}