.emptyButton {
  box-sizing: inherit;
  visibility: hidden;
  line-height: 50px;
  text-align: center;
}

.defaultButton {
  box-sizing: inherit;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-radius: 4px;
}

.defaultButton:hover {
  opacity: 1;
}
.defaultButton:active {
  box-shadow: inset 0px 0px 4px grey;
}

.wideButton {
  box-sizing: inherit;
  text-align: center;
  line-height: 50px;
  grid-column-end: span 2;
  cursor: pointer;
  border-radius: 4px;
}

.wideButton:hover {
  opacity: 1;
}

.wideButton:active {
  box-shadow: inset 0px 0px 4px grey;
}

.tallButton {
  box-sizing: inherit;
  text-align: center;
  line-height: 100px;
  grid-row: span 2;
  cursor: pointer;
  border-radius: 4px;
}

.tallButton:hover {
  opacity: 1;
}

.tallButton:active {
  box-shadow: inset 0px 0px 4px grey;
}
