.keyboard {
  padding: 5px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  justify-content: space-around;
  gap: 10px 10px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: rgb(245,245,245);
  color: #333333;
}

.grey {
  background: lightgrey;
}

.blue {
  background-color: steelblue;
  color: white;
}

.red {
  background-color: tomato;
  color: white;
}

.orange {
  background-color: darkorange;
  color: white;
}
