.display {
  padding: 5px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgb(225, 225, 225);
  text-align: right;
  color: #555555;
  box-shadow: 0px 0px 6px grey;
}

.topDisplay {
  height: 35px;
  line-height: 25px;
  box-sizing: inherit;
  border-radius: inherit;
  padding: 5px;
  font-size: 1.7em;
}

.bottomDisplay {
  height: 35px;
  line-height: 25px;
  box-sizing: inherit;
  border-radius: inherit;
  padding: 5px;
  font-size: 1.3em;
}
