.display {
  padding: 5px 5px 0px 5px;
  height: 85px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgb(245, 245, 245);
  border: solid rgb(245, 245, 245) 1px;
  text-align: right;
  color: #555555;
  
}
.topDisplay {
  height: 35px;
  line-height: 25px;
  box-sizing: inherit;
  border-radius: inherit;
  padding: 5px;
  font-size: 1.25em;
}

.bottomDisplay {
  height: 45px;
  line-height: 25px;
  box-sizing: inherit;
  border-radius: inherit;
  padding: 5px;
  font-size: 1.5em;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.error {
  /* border: solid tomato 1px; */
  background: rgba(255,0,0,0.15);
  color: black;
}
